@font-face {
  src: url(assets/hun2.ttf);
  font-family: HUN;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --ff-1 : HUN;
  --ff-2 : 'Roboto', sans-serif;
  --block-size: 30px;
}

body {
  background-color: black;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  font-family: var(--ff-1);
}

.tetr {
  position: fixed;
  display: flex;
  z-index: -1;
}


#bg-darken {
  height: 100%;
  width: 100%;
  position: fixed;
  animation: bg-darken 9s infinite;
  transition: all 3s;
  z-index: -2;
  overflow: hidden;
}

#background {
  z-index: -5;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
}

@keyframes bg-darken {
  0%   {background-color: rgba(0, 0, 0, 0.3);}
  50%  {background-color: rgba(0, 0, 0, 0.5);}
  100% {background-color: rgba(0, 0, 0, 0.3);}
}

#board {
  border-bottom: 3px solid rgb(180, 180, 180);
  border-top: none;
}

.flex-row.fixed > div {
  position: relative;
  top: -1rem;
}

.board-container {
  display: flex;
  height: calc(var(--block-size) * 22);
  width : calc(var(--block-size) * 10 + 20);
}

.board-line {
  width: 2.5px;
  height: calc(var(--block-size) * 20);
  background-color: rgb(180, 180, 180);
  position: relative;
  top: calc(var(--block-size) * 2);
}

.look-over-container {
  display: flex;
  flex-direction: column;
  margin-top : calc(var(--block-size) * 2);
}

.hold-container .title {
  text-align: right;
  border-right: 2px rgb(180, 180, 180) solid;
  margin-top : calc(var(--block-size) * 2);
}

.look-over-container .title{
  border-left: 2px rgb(180, 180, 180) solid;
}

.hold-container canvas {
  border: 2px rgb(180, 180, 180) solid;
  border-top: none;
  border-right: none;
}

.look-over-container canvas {
  border-right: 2px rgb(180, 180, 180) solid;
  padding-top: 1.5em;
}

.look-over-container canvas:last-child {
  border-bottom: 2px rgb(180, 180, 180) solid;
  padding-bottom: 1.5em;
}

.title {
  color: white;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 0.15em;
  border: 3.5px rgb(180, 180, 180) solid;
  padding: 0.5rem 2rem 0.3rem 2rem;
}

#fps-bar {
  font-family: var(--ff-2);
  font-weight: 500;
  color: white;
  position: fixed;
  top: 1rem;
  left: 2rem;
}

/* /////////////////////////////////////////////// */
/* animation */

#animation .countdown {
  font-family: var(--ff-1);
  color: rgba(255, 201, 40, 0.9);
  font-weight: 500;
}

#animation .countdown div { 
  font-size: 6rem;
}

.hided-initial {
  display: none;
}

.scale-out-center {
  display: block;
	animation: scale-out-center 600ms ease-in-out both;
} 

@keyframes scale-out-center {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.85);
    opacity: 0;
  }
}

/* /////////////////////////////////////////////// */
/* config nav */

#config-nav {
  user-select: none;
  padding: 1.5rem 0 0 1.5rem;
  position: fixed;
  display: flex;
  top: 0;
  right: -23rem;
  height: calc(100% - 2rem);
  width: 23rem;
  background-color: #000A;
  transition: 0.5s ease-in-out;
  color: white;
}

#config-nav::before {
  background-color: #000A;
  border-radius: 0 0 0 0.4em;
  position: absolute;
  font-size: 2.5rem;
  padding: 1rem 1.5rem 0.5rem 2rem;
  top: 0;
  left: -134.54px;
  content: "ZEN";
}

#config-nav > * {
  opacity: 0;
  transition: 0.1s ease-in-out;
  opacity: 1;
}

#config-nav:hover {
  right: 0rem;
  transition: 0.23s ease-in-out;
}

#config-nav:hover#config-nav > * {
  opacity: 1;
}

.config-level input[type="radio"] {
  width: 1.2rem;
  height: 1.2rem;
  position: relative;
  top: -0.2rem;
  margin-right: 0.75rem;
}

.config-level input[type="range"] {
  position: relative;
  top: -0.2rem;
  margin-left: 1rem;
}

.config-level > div {
  cursor: pointer;
  margin-top : 0.7rem;
  font-size: 1.35rem;
  display: flex;
  align-items: center;
}

.config-level>*:last-child {
  margin-top: 1rem;
}

.config-level > h3 {
  font-size: 2.5rem;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  width: max-content;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 0.3em;
  padding: 0.5em 0.5em 0.2em 0.5em;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
